@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-montserat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-PoetsenOne: "PoetsenOne", Static;
  --font-alfa-slab-one-regular: "Alfa Slab One", serif;

  --color-MainBlue: #6A71F1;
  --color-BlueGray: #667294;
  --color-LightBlue: #E8EEFB;
  --color-White: #FAFAFA;
  --color-DarkChocolate: #472d30;


}
